.button {
  position: relative;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  z-index: -1;
}

.button::before {
  animation: 6s rotate linear infinite;
  width: 300%;
  height: 300%;
  background: var(--tile-border);
}

.button::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: #171717;
  background-clip: content-box;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
